<ion-view title="Calendar" class="calendar">
    <div class="feed-bg"></div>
    <ion-pane>
        <ion-header-bar class="bar-dark" style="background-color:#009d97">
            <h1 class="title">Schedule</h1>
        </ion-header-bar>


        <div scroll="true" overflow-scroll="false" id="gridHeader" class="grid-header" ng-style="{'overflow': 'false', 'width' : (120 * EUDCDays.length + 60) + 'px', 'left':'-'+timerleft}">
           <div class="grid-header-clock" style="left: 0px;">

            </div>
            <div class="grid-header-labels" ng-repeat="day in EUDCDays">
                <div class="grid-header-label">{{day.name}}
                    <div class="grid-header-label-divider"></div>
                </div>

            </div>

        </div>
        <ion-content scroll="true" overflow-scroll="false" direction="xy" delegate-handle="calendarScroll"
                     has-bouncing="false" on-scroll="gotScrolled()">
            <div id="gridBody" class="grid-body ui-block"  >
                <div style="position:relative" ng-repeat="day in days">
                    <div id="gridTimesHolder" class="grid-times-holder" ng-style="{'left':timerleft}" >
                        <!--<div class="day-label">{{day.day.substr(0, 3)}}</div>-->
                        <div class="grid-times" ng-repeat="hour in hours">
                            <div class="grid-time-label"><p>{{hour}}</p></div>
                        </div>
                    </div>
                    <div class="grid-sessions" ng-style="{'height' : (50 * hours.length) + 'px'}">
                        <div id="grid-clock" style="top: {{ clockYPosition() }}; left: {{ clockXPosition() }}"></div>
                        <div class="grid-sessions-day" ng-style="{'overflow': 'true', 'width' : (120 * EUDCDays.length + 60) + 'px'}"
                             >
                            <div ng-repeat="event in events| filter:{ dateformat: day.dateformat}">
                                <div class="grid-session-cell" ng-style="{'top':event.top, 'left':event.left, 'height':event.height, 'background-color':event.color}" ng-click="goToEventDetail(event)">
                                    <i class="icon  grid-session-icon" ng-class="event.eventtype"></i>
                                    <div class="grid-session-title">{{event.eventname}}</div>
                                    <div class="grid-session-time">{{event.starthour}}-{{event.endhour}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--<div class="grid-date-holder" ng-style="{'overflow': 'true', 'width' : (120 * EUDCDays.length) + 'px'}">
                        <div class="day-label">{{day.longdate}}</div>

                    </div>-->

                </div>

            </div>



        </ion-content>
    </ion-pane>
</ion-view>