<ion-view view-title="Card" class="card-detail-view card__main">
    <div class="card-detail-view-bg"></div>
    <ion-content>
        <div class="list card item-content">
            <div class="item item-avatar" style="background-image: url('https://source.unsplash.com/category/nature')"></div>

            <div class="item item-body">

                <h2>{{ card.title }}</h2>

                <p class="card__desc" ng-bind-html="trustHtml(findImageLinks(linkifyYouTubeURLs(card.description)))"></p>

                <p class="card__created">{{ card.created | date:'dd MMMM, HH:mm' }}</p>

            </div>
            <!-- <div class="item item-footer">
                <div id="footer-logo-div"><img id="footer-logo" src="{{ logoUrl }}"></div>
                <i class="card-social--icon ion-social-facebook"></i>
                <i class="card-social--icon ion-social-facebook"></i>
                <i class="card-social--icon ion-social-facebook"></i>
            </div> -->
        </div>
    </ion-content>
</ion-view>
