<ion-view title="Contacts" class="contacts">
    <div class="feed-bg"></div>
    <ion-content>
        <div class="padding-div">
            <h3 class="title">You can ask questions and send feedback from this form</h3>
        </div>
        <div class="padding-div">
            <label class="item item-input">
                <textarea rows="6" placeholder="Send Question" ng-model="feedback.content"></textarea>
            </label>
        </div>
        <button ng-click="sendFeedback()" ng-disabled="!feedback.content" class="button button-light button-full btn-full-half">Send</button>
        <div class="padding-div">
            <h3 class="title">Get in touch with us!</h3>
        </div>
        <div class="padding-div">
            <p>If you have any questions or feedback, please feel free to contact our organising committee.
                Like us on <a href="https://www.facebook.com/Tallinn-EUDC-2017-355451294579393/">Facebook</a>
                and get our latest news and updates in your feed!
            </p>
        </div>
        <div class="padding-div">
            <p>
                <b>Project Manager</b>
            </p>
            <p>
                Selene Gnadenteich
            </p>
            <p>
                info.tallinneudc@debate.ee
            </p>
        </div>
        <div class="padding-div">
            <p>
                <b>Sponsors</b>
            </p>
            <p>
                Olesja Zorina
            </p>
            <p>
                tallinneudc@debate.ee
            </p>
        </div>
        <div class="padding-div">
            <p>
                <b>Media & PR</b>
            </p>
            <p>
                Jane Kalnapenkis
            </p>
            <p>
                jane.kalnapenkis@debate.ee
            </p>
        </div>
        <div class="padding-div">
            <p>
                Website: <a href="http://tallinneudc.com/">tallinneudc.com</a>
            </p>
            <p>
                Event facebook: <a href="https://www.facebook.com/Tallinn-EUDC-2017-355451294579393/">Tallinn EUDC
                2017</a>
            </p>
            <p>
                Organisers facebook: <a href="https://www.facebook.com/TTUDebate/?fref=ts">TTUDebate</a>
            </p>
        </div>

        <div class="padding-div">
            <p>
                Tallinn University of Technology Debate Society
            </p>
            <p>
                Ehitajate tee 5, 19086 Tallinn
            </p>
            <p>
                Republic of Estonia
            </p>
        </div>


    </ion-content>
</ion-view>