<ion-view view-title="{{ event.eventname }}" class="event-detail-view card__main">
    <div class="event-detail-view-bg"></div>
    <ion-content>
        <div class="list card">

            <div class="item item-avatar" style="background-image: url('https://source.unsplash.com/category/nature')"></div>

            <div class="item item-body">
                <h2>{{ event.eventname }} @ {{ event.room }}</h2>
                <h2>{{ event.starthour }} &ndash; {{ event.endhour }}, August {{ event.day }}</h2>
                <p>{{ event.description }}</p>

                <p>Location: {{ event.room }}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
