<ion-view title="Profile" class="profile">
    <div class="feed-bg"></div>
    <ion-content>

        <ion-item>
            <div class="profile-icon">
                <i class="ion-ios-at-outline"></i>
            </div>
            <div class="profile-title">
                <b>Email: </b>
                {{ user.email }}
            </div>
        </ion-item>

        <ion-item>
            <div class="profile-icon">
                <i class="ion-ios-people-outline"></i>
            </div>
            <div class="profile-title">
                <b>Role: </b>
                {{ role }}
            </div>
        </ion-item>

        <ion-item>
            <div class="profile-icon">
                <i class="ion-ios-barcode-outline"></i>
            </div>
            <div class="profile-title">
                <b>Checkin barcode: </b>
            </div>
            <div class="barcode" ng-class="getLoadingClass()">
                <img ng-show="barcode" src="{{ barcodeImg }}" alt="Unable to load the barcode" />
            </div>

        </ion-item>

        <ion-item ng-click="logOut()">
            <div class="profile-icon">
                <i class="ion-ios-undo-outline"></i>
            </div>
            <div class="profile-title">
                <b>
                    <ion-button>Logout</ion-button>
                </b>
            </div>
        </ion-item>


    </ion-content>
</ion-view>