<ion-view view-title="Tournament feed">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe" class="item-text-wrap">
            <ion-item ng-repeat="timercard in timercards" class="item feed-card" ng-class="time">
                    <div class="item-avatar-left">
                        <img ng-src="http://logonoid.com/images/thumbs/adidas-logo.png">
                        <h2>{{timercard.title}}</h2>
                        <p>{{ timercard.description }}
                            <timer end-time="endDate"><br>{{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                        </p>
                        <div>
                            <p>{{ timercard.created | date:'dd MMMM, HH:mm' }}</p>
                        </div>
                        <ion-option-button class="button-assertive" ng-click="destroyCard($index)">
                            DELETE
                        </ion-option-button>
                    </div>
            </ion-item>
        </ion-list>
        
        <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe" class="item-text-wrap">
            <ion-item ng-repeat="card in cards" | orderBy: '-created'" class="item feed-card">
                <a ng-click="goToCardDetail(card)" href="">
                    <div class="item-avatar-left">
                        <img ng-src="http://logonoid.com/images/thumbs/nike-logo.png">
                        <h2>{{card.title}}</h2>
                        <p>{{card.description | limitTo:90}}...</p>
                        <div>
                            <p>{{ card.created | date:'dd MMMM, HH:mm' }}</p>
                        </div>
                        <ion-option-button class="button-assertive" ng-click="destroyCard(card)">
                            DELETE
                        </ion-option-button>
                    </div>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>