bower_components/*
node_modules/*
.sass-cache/*
.idea/*
*~
platforms/*
.idea/
.sass-cache/
gen/
node_modules/
platforms/android/.gradle/
platforms/android/CordovaLib/build/
platforms/android/CordovaLib/src/org/apache/cordova/CallbackMap.java
platforms/android/assets/www/css/ionic.app.css
platforms/android/assets/www/css/ionic.app.min.css
platforms/android/assets/www/img/TTU_alternatiivne_logo_EST_ENG_veeb.png
platforms/android/assets/www/img/Zeit_Debatte_Wien_-_Finale-02.jpg
platforms/android/assets/www/img/eudc2017-bg-blur.jpg
platforms/android/assets/www/img/eudc2017-bg.jpg
platforms/android/assets/www/img/eudc2017-logo.png
platforms/android/assets/www/img/eudc2017-menu-bg-blur.jpg
platforms/android/assets/www/img/eudc2017-menu-bg-blur1.jpg
platforms/android/assets/www/img/evs_eng.png
platforms/android/assets/www/img/logo.png
platforms/android/assets/www/img/transsquare.png
platforms/android/assets/www/img/tutDebateClub.png
platforms/android/assets/www/js/aboutCtrl.js
platforms/android/assets/www/js/angular-timer.js
platforms/android/assets/www/js/appCtrl.js
platforms/android/assets/www/js/appSettings.js
platforms/android/assets/www/js/calendarCtrl.js
platforms/android/assets/www/js/cardCtrl.js
platforms/android/assets/www/js/contactsCtrl.js
platforms/android/assets/www/js/detailViewCtrl.js
platforms/android/assets/www/js/loginCtrl.js
platforms/android/assets/www/js/mapCtrl.js
platforms/android/assets/www/js/services/
platforms/android/assets/www/js/tournamentFeedCtrl.js
platforms/android/assets/www/lib/ionic/js/angular/angular-messages.js
platforms/android/assets/www/lib/ionic/scss/tsconfig.json
platforms/android/assets/www/lib/ngCordova/
platforms/android/assets/www/templates/about.html
platforms/android/assets/www/templates/calendar.html
platforms/android/assets/www/templates/card.html
platforms/android/assets/www/templates/contacts.html
platforms/android/assets/www/templates/detailView.html
platforms/android/assets/www/templates/map.html
platforms/android/assets/www/templates/tournamentFeed.html
platforms/android/cordova/lib/AndroidStudio.js
platforms/android/cordova/loggingHelper.js
platforms/android/cordova/node_modules/
platforms/android/libs/
platforms/android/res/mipmap-hdpi/
platforms/android/res/mipmap-ldpi/
platforms/android/res/mipmap-mdpi/
platforms/android/res/mipmap-xhdpi/
platforms/ios/EUDC2017/Plugins/cordova-plugin-x-toast/
platforms/ios/frameworks.json
platforms/ios/platform_www/cordova_plugins.js
platforms/ios/platform_www/plugins/
platforms/ios/www/cordova_plugins.js
platforms/ios/www/css/ionic.app.css
platforms/ios/www/css/ionic.app.min.css
platforms/ios/www/img/TTU_alternatiivne_logo_EST_ENG_veeb.png
platforms/ios/www/img/Zeit_Debatte_Wien_-_Finale-02.jpg
platforms/ios/www/img/eudc2017-bg-blur.jpg
platforms/ios/www/img/eudc2017-bg.jpg
platforms/ios/www/img/eudc2017-logo.png
platforms/ios/www/img/eudc2017-menu-bg-blur.jpg
platforms/ios/www/img/eudc2017-menu-bg-blur1.jpg
platforms/ios/www/img/evs_eng.png
platforms/ios/www/img/logo.png
platforms/ios/www/img/transsquare.png
platforms/ios/www/img/tutDebateClub.png
platforms/ios/www/js/aboutCtrl.js
platforms/ios/www/js/angular-timer.js
platforms/ios/www/js/appCtrl.js
platforms/ios/www/js/appSettings.js
platforms/ios/www/js/calendarCtrl.js
platforms/ios/www/js/cardCtrl.js
platforms/ios/www/js/contactsCtrl.js
platforms/ios/www/js/detailViewCtrl.js
platforms/ios/www/js/loginCtrl.js
platforms/ios/www/js/mapCtrl.js
platforms/ios/www/js/services/
platforms/ios/www/js/tournamentFeedCtrl.js
platforms/ios/www/lib/ionic/js/angular/angular-messages.js
platforms/ios/www/lib/ionic/scss/tsconfig.json
platforms/ios/www/lib/ngCordova/
platforms/ios/www/plugins/
platforms/ios/www/templates/about.html
platforms/ios/www/templates/calendar.html
platforms/ios/www/templates/card.html
platforms/ios/www/templates/contacts.html
platforms/ios/www/templates/detailView.html
platforms/ios/www/templates/map.html
platforms/ios/www/templates/tournamentFeed.html
plugins/
res/

www/css/*
