@mixin gradient__theme-main() {
  background: linear-gradient(25deg, rgba(216, 7, 81, 0.58) 0%, #2b1dff 100%);
}

@mixin social__icon {
  color: white;
  font-size: 33px;
  padding: 30px;
  background-image: linear-gradient(151deg, #beabff, #7058c1);
  box-shadow: -7px 6px 15px rgba(190, 171, 255, 0.5), -1px 5px 9px rgba(112, 88, 193, 0.17);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  display: block;
  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin card__bg-gradient {
  background: linear-gradient(45deg, #fdfbfb, #ebedee);
}
