@import "../www/lib/ionic/scss//mixins";

$hourHeight: 67.5px;
$minuteHeight: 1.125px;
$dayWidth: 120px;
$indexColumnWidth: 60px;
$headerHeight: 40px;
$mainHeaderHeight: 44px;

.grid-header {
  background: -webkit-linear-gradient(bottom left, darken(rgba(212, 11, 82, 0.7), 0%) 0%, darken(rgba(0, 27, 255, 1), 30%) 100%);
  background: -o-linear-gradient(bottom left, darken(rgba(212, 11, 82, 0.7), 0%) 0%, darken(rgba(0, 27, 255, 1), 30%) 100%);
  background: linear-gradient(to top right, darken(rgba(212, 11, 82, 0.7), 0%) 0%, darken(rgba(0, 27, 255, 1), 30%) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: 0 0 3px 0;
  position: fixed;
  top: $mainHeaderHeight - 1;
  display: block;
  z-index: 1500;
}

.grid-header-labels {
  padding-left: $indexColumnWidth;
}

.grid-header-label {
  width: $dayWidth;
  float: left;
  padding: 10px 0;
  height: $headerHeight;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

.grid-header-label-divider {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: static;
  right: 0;
  bottom: 0;
  height: 22px;
}

.grid-body {
  font-family: "Open Sans", sans-serif;

  position: absolute;
  top: $headerHeight !important;
}

.ui-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid-times-holder {
  position: fixed;
  overflow: hidden;
  width: $indexColumnWidth;
  top: $mainHeaderHeight + $headerHeight;
  display: block;
  z-index: 200;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.grid-date-holder {
  position: absolute;
  overflow: hidden;
  left: $indexColumnWidth;
  top: 0;
  display: block;
  z-index: 200;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.day-label {
  height: 24px;
  line-height: 25px;
  font-weight: bold;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
}

.grid-time-label {
  height: $hourHeight;
  top: 10px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 0;
}

.grid-times {
  .grid-time-label {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(128, 0, 128, 0.8);
  }
}

.grid-body-labels {
  padding-left: 0;
}

.grid-body-cell {
  width: 110px;
  float: left;
  padding: 10px 5px;
  height: $hourHeight;
  line-height: $hourHeight - 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;

  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-sessions {
  position: relative;
  min-width: 100%;
}

.grid-sessions-day {
  position: relative;
  height: $hourHeight * (24 - 6);
  background: url('../img/transsquare.png') $indexColumnWidth 0;
  min-width: 100%;
}

.grid-session-cell {
  position: absolute;
  width: $dayWidth - 2;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 12px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  min-height: 22px;

  //@include transition(max-height 0.4s ease-in-out, width 0.4s ease-in-out, left 0.4s ease-in-out);
  @include transition(all 0.4s ease-in-out);

  &.wrapped {
    &.ellipsed .grid-session-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.overlapping {
    width: 90px;
    z-index: 9990;
  }

  &.opened {
    z-index: 9999;
    width: 118px !important;

    &.short {
      max-height: $hourHeight * 2 !important;
    }
  }

  &.short {
    height: auto;

    .grid-session-title {
      padding-top: 0;
    }
  }
}

.grid-session-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 24px;
}

.grid-session-title {
  padding: 5px 9px;
  padding-right: 10px;
  font-weight: bold;
}

.grid-session-time {
  padding: 9px;
}

#grid-clock {
  width: $dayWidth - 2;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}