.grid-header {
  background: -webkit-linear-gradient(bottom left, darken(rgba(212, 11, 82, 0.7), 0%) 0%, darken(rgba(0, 27, 255, 1), 30%) 100%);
  background: -o-linear-gradient(bottom left, darken(rgba(212, 11, 82, 0.7), 0%) 0%, darken(rgba(0, 27, 255, 1), 30%) 100%);
  background: linear-gradient(to top right, darken(rgba(212, 11, 82, 0.7), 0%) 0%, darken(rgba(0, 27, 255, 1), 30%) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-shadow: 0 0 3px 0;
  position: fixed;
  top: 43px;
  display: block;
  z-index: 1035;
}

.grid-header-labels {
  padding-left: 60px;
}

.grid-header-label {
  width: 120px;
  float: left;
  padding: 10px 0;
  height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

.grid-header-label-divider {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: static;
  right: 0;
  bottom: 0;
  height: 22px;
}

.grid-header-Clock {
  text-align: left;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 40px;
}

.grid-body {
  font-family: "Open Sans", sans-serif;

  position: absolute;
  top: 40px !important;
}

.ui-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid-times-holder {
  position: absolute;
  overflow: hidden;
  width: 60px;
  top: 0;
  display: block;
  z-index: 200;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.grid-date-holder {
  position: absolute;
  overflow: hidden;
  left: 60px;
  top: 0px;
  display: block;
  z-index: 200;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.day-label {
  height: 24px;
  line-height: 25px;
  font-weight: bold;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
}

.grid-time-label {
  height: 50px;
  top: 10px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;
}

.grid-times {
  .grid-time-label {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 255, 0.25);
  }
}

.grid-body-labels {
  padding-left: 0;
}

.grid-body-cell {
  width: 110px;
  float: left;
  padding: 10px 5px;
  height: 50px;
  line-height: 49px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 0;

  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.grid-sessions {
  position: relative;
  min-width: 100%;
}

.grid-sessions-day {
  position: relative;
  height: 1200px;
  background: url('/img/transsquare.png') 60px 0;
  min-width: 100%;
}

.grid-session-cell {
  position: absolute;
  width: 118px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
}

.grid-session-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 24px;
}

.grid-session-title {
  padding: 9px;
  padding-right: 10px;
  font-weight: bold;
}

.grid-session-time {
  padding: 9px;
}